@model MyTeamViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager

@using Esports.Data.Helpers.Contracts

@inject IImageConverter imageConverter
@inject IUserService userService

@{
    ViewBag.Title = "MyTeam";
    ViewBag.Points = await userService.GetUserPointsAsync(Guid.Parse(_userManager.GetUserId(User)));
}

<body>
<div class="container" id="box">
    <div class="box">
        <div id="row">
            @if (Model.Top != null){
                    <div id="image-text-container">
                        <img id="team-image" src="@imageConverter.ConvertToImage(@Model.Top.Image)">
                        <div id="team-player-ingamename">@Model.Top.Nickname</div>
                    </div>
            }else{
                    <button id="Add-Player-Button">+</button>
            }
            @if (Model.Jng != null){
                    <div id="image-text-container">
                        <img id="team-image" src="@imageConverter.ConvertToImage(@Model.Jng.Image)">
                        <div id="team-player-ingamename">@Model.Jng.Nickname</div>
                    </div>
            }else{
                    <button id="Add-Player-Button">+</button>
            }
            @if (Model.Mid != null){
                    <div id="image-text-container">
                        <img id="team-image" src="@imageConverter.ConvertToImage(@Model.Mid.Image)">
                        <div id="team-player-ingamename">@Model.Mid.Nickname</div>
                    </div>
            }else{
                <button id="Add-Player-Button">+</button>
            }
            @if (Model.Adc != null){
                    <div id="image-text-container">
                        <img id="team-image" src="@imageConverter.ConvertToImage(@Model.Adc.Image)">
                        <div id="team-player-ingamename">@Model.Adc.Nickname</div>
                    </div>
            }else{
                        <button id="Add-Player-Button">+</button>
            }
            @if (Model.Sup != null){
                    <div id="image-text-container">
                        <img id="team-image" src="@imageConverter.ConvertToImage(@Model.Sup.Image)">
                        <div id="team-player-ingamename">@Model.Sup.Nickname</div>
                    </div>
            }else{
                    <button id="Add-Player-Button">+</button>

            }

        </div>
        <hr style="height: 4px;">

        <div id="team-rules-points-container">
                <div id="team-rules-text" style="color: white">
                Your Points!
                    <h1 style="color: white">@ViewBag.Points</h1>
            </div>
                <div id="team-rules-text">
                    <h1 style ="color: white">Rules</h1>
                <div>
                        <h6>1. Teams are one per tournament. You can not edit your team until the tournament has finished, at which time your team is wiped.</h6>
                        <h6>2. You can only create a team only when a tournament isn't going.</h6>
                        <h6>3. You earn point based on how many games players currently fielded in have won during the tournament.</h6>

                </div>
            </div>
        </div>

        <div class="openBox" id="popupbox">
                <button id="close-popup-box">Close</button>
                <div id="popup-help-text">Click on a image to add!</div>
                <ul id="roles-btn-container">
                    <li style="display: inline"><button class="roles-team-btn" id="topBtn">TOP</button></li>
                    <li style="display: inline"><button class="roles-team-btn" id="jngBtn">JNG</button></li>
                    <li style="display: inline"><button class="roles-team-btn" id="midBtn">MID</button></li>
                    <li style="display: inline"><button class="roles-team-btn" id="adcBtn">ADC</button></li>
                    <li style="display: inline"><button class="roles-team-btn" id="supBtn">SUP</button></li>
                </ul>
                <div id="target"></div>
        </div>

        
    </div>
</div>

    <script src="~/js/site.js"></script>
</body>
